span.change-bg-icon {
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1%;
    display: flex;
    justify-content: flex-end;
}

span.change-bg-icon:hover {
    margin-bottom: 20px;
    transition: 0.3s;
    cursor: pointer;
}

#home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}