.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    /* padding: 32px; */
    height: 600px;
    width: 80%;
    max-width: 640px;
    background-color: rgba(255, 255, 255, 0.931);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.popup-inner input {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: solid #060b26;
    color: #060b26;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;

}

.popup-inner .close-btn img {
    width: 22px;
}

.popup-inner .close-btn img:hover {
    transition: 0.1s linear;
    width: 25px;
    cursor: pointer;

}