* {
    margin: 0;
    padding: 0;
}

.creator:hover {
    color: red;
    transition: 0.15s;
    cursor: pointer;

}

.grid-item .fav-icon svg:hover {
    transform: scale(1.3);
    transition: 0.09s linear;
    cursor: pointer;
}