.messenger-container {
    display: flex;
    flex-direction: column;
}

.message-box {
    width: 250px;
    height: 400px;
    background-color: whitesmoke;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.messenger-container {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.message-box {
    height: 100%;
    overflow-y: scroll;
}